.hero {
  width: 100%;
  margin: auto;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 5;
  @include transition;
  &.is-trans {
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -1%;
      left: 0;
      background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,white 100%);
      opacity: 1;
      transition: all 0.2s;
      z-index: 1;
    }
  }

  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  &-heading, &-heading-2, &-heading-3 {
    opacity: 0;
    transition: all .8s ease-in-out;
    &.show {
      opacity: 1;
    }
  }

  audio {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100px;
    height: 20px;
    opacity: .1;
  }

  video, #bgVid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    opacity: 0.8;
  }

  h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    span {
      color: $primary;
      font-size: $xl-4;
    }
  }
  p {
    margin: 30px 0 50px 0;
  }

  .search {
    @include width(100%, none, $white, $dark, 40px, 10px);
    @include flex(center, center, center);
    @include shadow(-5px 9px 20px 0px rgb(23 45 89 / 3%));

    hr {
      @include default;
      background: rgba(#000000, 0.2);
      height: $lg;
      width: 0.1rem;
      margin: 5px;
    }
    input {
      width: 80%;
      padding: 10px;
      font-size: $md;
    }
    .heIcon {
      font-size: $xl-2;
    }
  }
}
