@import "reset";
@import "variables";
@import "config";
@import "header";
@import "hero";
@import "card";
@import "TopProduct";
@import "price";
@import "customer";
@import "blog";
@import "responsive";
@import "details";
@import "searchItem";
@import 'location';

body {
  font-family: "UVFAmplify", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;

}
img {
  image-rendering: optimizequality;
  image-rendering: -webkit-optimize-contrast;
}
a {
  @include default;
  font-weight: weight(medium);
  color: $dark;
  font-family: 'Kudryashev', serif;
  @include transition;
  &:hover {
    box-shadow: 0 0 4px 0 $text;
  }
}
input,
button,
li {
  @include default;
}

.button {
  @include width(150px, 40px, linear-gradient(90deg, $primary 40%, #F62682 100%), $white, 40px, none);
  @include flex(center, center, center);
  .heIcon {
    margin: 0 $sm;
    color: $white;
  }
}
section {
  @include pa_ma($md $xl-2, none);
  &.gallery {
    padding: 0;
  }
}

p {
  color: $blue;
  opacity: 0.7;
  font-size: $md;
  font-family: 'Kudryashev', serif;
}

h2 {
  font-family: "UVFAmplify";
}
.card {
  @include width(none, none, $white, none, 10px, 20px);
  background: $white;
  @include transition;
  &:hover {
    @include shadow(-5px 9px 20px 0px rgb(23 45 89 / 3%));
  }
}
.heading {
  text-align: center;
  @include pa_ma(0, $xl-4 0);
  h2 {
    font-size: 60px;
    color: $heading;
    font-family: "UVFAmplify";
  }
}
.product_items {
  @include grid(repeat(2, 1fr), 30px);
  .box {
    cursor: pointer;
    display:flex;
    align-items: center;
    .img {
      position: relative;
      img {
        @include width(100%, 100%, none, none, 20px, none);
      }
    }
    h3 {
      font-size: 16px;
    }
    p {
      font-style: italic;
      margin: 5px 0;
    }
    .button {
      @include width($xl-6, $xl-6, $white, $blue, 50%, none);
      font-size: $lg;
      @include transition;
      margin: 5px;
      &:hover {
        background: $white;
        color: rgba($text, .5);
      }
    }
    .overlay {
      @include flex(center, center, center);
      @include positions(absolute, none, $xl-4, 0, none, 100%, auto);
      opacity: 0;
      @include transition;
      transform: translateY(0);
    }
    &:hover .overlay {
      opacity: 1;
      transform: translateY(-30%);
    }
  }
}

.posts {
  @include grid(repeat(2, 1fr), 30px);
  margin-top: $xl-6;
  .post {
    .content {
      position: relative;
      .text {
        @include positions(absolute, 0, none, 0, none, 100%, 100%);
        padding: $xl-3;
        color: $white;
        h2 {
          margin: 5px 0;
        }
        p {
          color: $white;
          margin: 15px 0;
        }
      }
    }
  }
}

footer {
  text-align: center;
  @include pa_ma($xl-2, $large 0 0 0);
  background: $primary;
  p {
    color: $heading;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
/*.product,
.topproduct {
  position: relative;
}*/
.modalOpen {
  @include positions(fixed, -50px, none, 0, none, 100%, 130vh);
  z-index: 999999;
  .onClickImage {
    @include positions(fixed, auto, none, 0, none, 100%, 113vh);
    @include flex(center, center, center);

    img {
      @include flex(center, center, center);
      width: auto;
      height: 600px;
      z-index: 99999;
    }
    .button {
      @include positions(absolute, 6%, none, none, 0%, none, none);
      @include width(40px, 40px, linear-gradient(90deg, $primary 20%, #aea7aae9 100%), $text, 0px 0 0px 24px, none);
      z-index: 999999;
    }
    &::after {
      content: "";
      @include positions(absolute, -50px, none, 0, none, 100%, 105%);
      background: rgba(#000000, 0.8); 
    }
  }
}
.modalClose {
  display: none;
  .button {
    display: none;
  }
}

.slick-slider {
  margin-bottom: 50px;
  box-shadow: 0px 0px 12px 0px $heading;
  position: relative;

  .slick-slide {
    div {
      max-height: 600px;
    }
    img {
      width: 100%;
      object-fit: cover;
      max-height: 600px;
    }
    .photo {
      outline: none;
    }
  }

  // .slick-prev, .slick-next {
  //   font-size: 35px;
  //   width: 40px;
  //   height: 40px;
  //   position: absolute;
  //   transform: translateY(-50%);
  // }

  // .slick-prev {
  //   left: 0;
  // }
  // .slick-next {
  //   right: 0;
  // }
}

.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary;
  mix-blend-mode: color;
  width: 100%;
  height: 100%;
}
