@include media-md {
  header {
    .toggle {
      display: block;
      margin-right: 230%;
      z-index: 999;
      .close {
        @include positions(absolute, 20px, none, 40%, none, 50px, 50px);
        @include width(40px, 40px, $white, $primary, 50%, 8px);
        z-index: 999999;
      }
      .bar {
        width: 15px;
        height: 2px;
        color: $text;
        background: #0a2748;
        margin-bottom: 2px;
        transition: all 0.3s ease-in-out;
        transform-origin: 1.8px;

        &.two {
          opacity: 1;
        }
        &.one.active {
          transform: rotate(45deg);
        }
        &.two.active {
          opacity: 0;
        }
        &.three.active {
          transform: rotate(-45deg);
        }
      }
    }
    .center {
      z-index: 998;
      ul {
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        position: fixed;
      }
      .menu {
        opacity: 0;
        visibility: hidden;
      }
      .mobile-nav {
        display: block;
        opacity: 1;
        visibility: visible;
        @include positions(fixed, 0, none, -50px, none, none, none);
        @include width(400px, 100vh, $light, $white, 0, null);
        padding: $large 0;
        z-index: 99999;

        li {
          margin-top: $xl;
          a {
            margin-bottom: $md;
            font-size: $xl-2;
            color: $heading;
            text-transform: lowercase;
          }
        }
      }
    }
    .right_user,
    .right_search {
      display: none;
    }
  }

  .hero {
    @include width(100%, auto, 0, 0, 0, 0);
    @include pa_ma(20% 0 0 0, none);
    height: 100vh;
    &::after {
      width: 100%;
    }
    h1 {
      font-size: $xl;
      span {
        font-size: $xl-3;
      }
    }
    .search {
      @include width(100%, none, $white, $dark, 40px, 10px);
      input {
        width: 70%;
      }
    }
  }

  // card
  .cards {
    @include grid(repeat(3, 1fr), 30px);
  }
  .topproduct,
  .product {
    .photos {
      // @include grid(repeat(2, 1fr), 30px);
    }
  }
  .topproduct {
    .head {
      @include flex(center, center, column);
    }
    .category {
      @include flex(center, space-between, row);
      width: 100%;
      button {
        margin: 20px;
      }
    }
  }
  .banner {
    .posts {
      @include grid(repeat(1, 1fr), 30px);
    }
  }
  .price {
    .content {
      @include grid(repeat(1, 1fr), 30px);
      place-items: center;
    }
  }
  .customer {
    .content {
      @include grid(repeat(2, 1fr), 30px);
    }
  }
  .blog {
    .posts {
      @include grid(repeat(1, 1fr), 30px);
      place-items: center;
    }
  }
}

@include media-sm {
  section {
    padding: 15px 30px !important;
    &.storyslider, &.location {
      padding: 15px 0 !important;
    }
  }

  header {
    nav {
      justify-content: space-between;
      width: 100%;
    }
    .toggle {
      margin-right: 80%;
      .close {
        color: #312620;
        left: 70%;
      }
    }
  }

  .cardmain {
    .card-story {
      font-size: 40px;
      top: -14%;
    }

    .card-container {
      flex-direction: column;

      .center {
        margin: 5px;
        height: 250px;
        filter: hue-rotate();
      }
    }

    .name {
      background: rgba($color: $light, $alpha: .7);
      border-radius: 30px;
      padding: 15px;
      height: fit-content;
    }
  }

  .slick-slide {
    div {
      margin-bottom: -5px;
    }
  }

  .weddetails {
    .message {
      margin: 0;
    }
    .wed-info {
      flex-direction: column;
    }
    .left, .right {
      height: auto !important;
    }

    .left, .img {
      margin-bottom: 20px !important;
    }
  }

  .gallery {
    .photos {
      // grid-template-columns: repeat(2, 1fr);
      .box {
        .overlay {
          @include positions(absolute, none, -4%, 0, none, 100%, auto);
        }
      }
    }
    .onClickImage {
      .button {
        right: 0 !important;
      }
    }
  }

}