$primary: rgba(201,181,154,1);
$light: rgba(255,255,255,1);
$white: #fff;
$dark: #312620;
$blue: #0a2748;
$heading: rgba(41,41,41,1);
$text: rgba(69,69,69,1);

$sm: 10px;
$md: 15px;
$lg: 20px;
$xl: 25px;
$xl-2: 30px;
$xl-3: 35px;
$xl-4: 40px;
$xl-5: 45px;
$xl-6: 50px;
$large: 100px;
$tab: 768px;
$mobile: 512px;

$font-weights: (
  "regular": 400,
  "medium": 600,
  "bold": 900,
);
